<div class='headstone'>
  <div class='grave'></div>
  <div class='engraving'>
    <div class='header'>
      <div class='name'><%= record.fetch :name %></div>
      <div class='death_date'><%= record.fetch :death_date %></div>
      <div class='clear'></div>
    </div>
    <div class='epitaph'><%= epitaph record %></div>
  </div>
  <div class='clear'></div>
</div>
