<div class='headstone'>
  <div class='grave'>
    <div class='grave-<%= record.fetch :icon, :ghost %>'></div>
  </div>
  <div class='engraving'>
    <div class='header'>
      <div class='name'>
        <h1><%= record.fetch :name %></h1>
      </div>
      <div class='death_date'><%= record.fetch :death_date %></div>
      <div class='clear'></div>
    </div>
    <div class='epitaph'><%= epitaph record %></div>
  </div>
  <div class='clear'></div>
</div>
