// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'layout';

.about {
  margin: auto;
}

.cemetery {
  font-family: Times New Roman;
  margin: 0 auto;
  text-align: center;
  width: 720px;

  .headstone {
    background-color: #DDD;
    width: 100%;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 5px;

    .engraving {
      float: right;
      text-align: left;
      width: 580px;
      vertical-align: top;
      border: 0px red solid;

      .header {
        font-weight: bold;
        font-size: $font-size * 1.2;
        margin: 0;

        .name {
          width: 70%;
          float: left;
        }

        .death_date {
          text-align: right;
          width: 28%;
          float: left;
        }
      }


      .epitaph {
        margin-top: 2em;
        font-style: italic;
      }
    }

    .grave {
      float: left;
      width: 120px;
      height: 120px;
      margin-right: 20px;
      background-image: image-url('skull.png');
      background-repeat: no-repeat;
    }
  }
}

.clear {
  clear: both;
}
